<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="LastFmSessionKey" value="4b076196690fdd1d61eda32a2533244f"/>
		<add key="LastFmApiKey" value="64e33f8feab8756ed8e3a97db96c0ce6"/>
		<add key="LastFmApiSecret" value="98a03328296293b1a0688ed5e3b247ee"/>
	</appSettings>
</configuration>